@charset "UTF-8";
@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8; }

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9; }

.order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10; }

.order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11; }

.order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; } }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important; }

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important; }

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important; }

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important; }

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important; }

.align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important; }

.align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important; }

.align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important; }

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important; }

.align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important; }

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important; }

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-sm-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-sm-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .justify-content-sm-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-sm-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-sm-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-sm-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-sm-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-sm-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-sm-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-sm-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-sm-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-md-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-md-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .justify-content-md-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-md-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-md-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-md-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-md-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-md-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-md-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-md-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-md-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-lg-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-lg-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .justify-content-lg-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-lg-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-lg-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-lg-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-lg-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-lg-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-lg-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-lg-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-lg-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-xl-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-xl-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important; }
  .justify-content-xl-start {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-xl-end {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-xl-center {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-xl-between {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important; }
  .align-items-xl-start {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-xl-end {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-xl-center {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-xl-baseline {
    -webkit-box-align: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-xl-stretch {
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important; }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important; }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important; }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important; }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important; }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important; }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
        align-self: auto !important; }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important; }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important; }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
        align-self: center !important; }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important; }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/../assets/fonts/slick.eot");
  src: url("./fonts/../assets/fonts/slick.eotslick.eot?#iefix") format("embedded-opentype"), url("./fonts/../assets/fonts/slick.woff") format("woff"), url("./fonts/../assets/fonts/slick.ttf") format("truetype"), url("./fonts/../assets/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

* {
  font-family: 'Titillium Web', sans-serif; }

a {
  text-decoration: none;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none;
    color: #fff; }

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000; }

@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }

.modal-dialog {
  max-width: 960px; }

img {
  vertical-align: inherit; }

.l-mainPage {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh; }
  .l-mainPage__wrapper {
    position: relative;
    max-height: 740px;
    overflow: hidden; }
  .l-mainPage__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(0, 0, 0, 0.98)), color-stop(19%, rgba(0, 0, 0, 0.94)), to(transparent));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.98) 1%, rgba(0, 0, 0, 0.94) 19%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa000000', endColorstr='#00000000', GradientType=1); }
  .l-mainPage__texts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .l-mainPage__slideShow-xl {
    display: none; }
  @media (min-width: 576px) {
    .l-mainPage__wrapper {
      max-height: 600px; } }
  @media (min-width: 768px) {
    .l-mainPage__wrapper {
      max-height: 700px; }
    .l-mainPage__texts {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 66.6666666667%;
              flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; } }
  @media (min-width: 1200px) {
    .l-mainPage__wrapper {
      max-height: 800px; }
    .l-mainPage__slideShow-sm {
      display: none; }
    .l-mainPage__slideShow-xl {
      display: block; }
    .l-mainPage__texts {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      max-width: 50%; } }

.mainPage__content {
  position: relative;
  z-index: 5;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px; }

.mainPage__image {
  width: 100vw;
  max-height: 100%; }

.mainPage__title {
  color: #fff;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 25px; }

.mainPage__description {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2; }

@media only screen and (min-width: 370px) {
  .mainPage__title {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 35px; }
  .mainPage__description {
    font-size: 15px;
    margin-bottom: 24px; } }

@media (min-width: 576px) {
  .mainPage__content {
    padding-top: 91px; }
  .mainPage__title {
    font-size: 30px; }
  .mainPage__description {
    font-size: 20px; } }

@media (min-width: 768px) {
  .mainPage__content {
    padding-top: 117px; } }

@media (min-width: 1200px) {
  .mainPage__title {
    font-size: 35px; }
  .mainPage__description {
    font-size: 25px; } }

@media only screen and (min-width: 1200px) and (max-height: 700px) {
  .mainPage__title {
    font-size: 30px; }
  .mainPage__description {
    font-size: 20px; } }

.l-projects {
  position: relative;
  background: url("../assets/img/projects_bg.png");
  background-position: center;
  padding-bottom: 30px;
  padding-top: 105px; }
  .l-projects__header {
    position: relative;
    z-index: 10; }
  .l-projects__loadMore {
    text-align: center;
    padding-top: 30px;
    position: relative;
    z-index: 1; }
  .l-projects__flower {
    display: none;
    position: absolute;
    z-index: 0; }
    .l-projects__flower-left {
      top: 80px;
      left: 0;
      padding-right: 82%; }
    .l-projects__flower-right {
      top: 80px;
      right: 0;
      text-align: right;
      padding-left: 82%; }
  @media (min-width: 992px) {
    .l-projects {
      padding-bottom: 100px; }
      .l-projects__loadMore {
        padding-top: 45px; } }
  @media (min-width: 1200px) {
    .l-projects__flower {
      display: block; } }

.projects {
  padding-left: 20px;
  padding-right: 20px; }
  .projects__title {
    display: block;
    margin: 0;
    padding-bottom: 30px;
    line-height: 1;
    font-size: 25px;
    font-weight: 700; }
  .projects__description {
    display: block;
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 1.2; }
  .projects__loadMore {
    display: inline-block;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid #818181;
    text-transform: lowercase;
    color: #2d2d2d;
    line-height: 1;
    -webkit-box-shadow: 0px 8px 7.6px 0.4px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 8px 7.6px 0.4px rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, 0.52);
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .projects__loadMore:hover, .projects__loadMore:focus {
      background-color: #d9d9d9;
      -webkit-transition: background-color .2s ease;
      transition: background-color .2s ease;
      cursor: pointer; }
  .projects__flower {
    width: 100%;
    max-height: 100%;
    min-width: 250px; }
  .projects__btmShadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 -5px 50px 10px rgba(0, 0, 0, 0.27);
            box-shadow: 0 -5px 50px 10px rgba(0, 0, 0, 0.27);
    z-index: 1; }
  @media (min-width: 992px) {
    .projects__title {
      font-size: 35px; }
    .projects__description {
      font-size: 20px; } }

.l-services {
  position: relative;
  z-index: 2;
  background-color: #75a18e;
  padding-top: 105px;
  padding-bottom: 40px;
  overflow: hidden; }
  .l-services__bg {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 960px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -50px;
    background-image: url("../../assets/img/services_bg.png");
    background-position: left;
    background-color: #75a18e;
    background-repeat: no-repeat;
    background-size: contain; }
  @media (min-width: 576px) {
    .l-services__section {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 83.3333333333%;
              flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%; }
    .l-services__bg {
      background-position: left;
      right: -100px; } }
  @media (min-width: 768px) {
    .l-services__section {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 66.6666666667%;
              flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; }
    .l-services__bg {
      right: -200px;
      display: block; } }
  @media (min-width: 992px) {
    .l-services__bg {
      right: -100px;
      background-position: center; } }
  @media (min-width: 1200px) {
    .l-services__section {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%; }
    .l-services__bg {
      background-position: left;
      right: -100px; } }
  @media only screen and (min-width: 1700px) {
    .l-services__bg {
      right: 0; } }

.services {
  position: relative;
  padding-left: 32px;
  padding-right: 32px; }
  .services__title {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding-bottom: 30px;
    line-height: 1; }
  .services__subtitle {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
    color: #fff;
    margin: 0; }
  .services__description {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    padding-bottom: 20px;
    color: #fff; }
    .services__description:last-of-type {
      padding-bottom: 25px; }
    .services__description .underline {
      text-decoration: underline; }
  @media (min-width: 992px) {
    .services__title {
      font-size: 35px; }
    .services__subtitle {
      font-size: 25px; }
    .services__description {
      font-size: 20px; } }

.l-contact {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  background-image: url("./../../assets/img/contact_bg.png"); }
  .l-contact__col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
    .l-contact__col-0 {
      display: none;
      position: relative;
      z-index: 100; }
    .l-contact__col-1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 58.3333333333%;
              flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
      position: relative;
      z-index: 101; }
    .l-contact__col-2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 41.6666666667%;
              flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
      padding-top: 68px; }
    .l-contact__col-3 {
      display: none;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
  .l-contact__logo {
    margin-top: 20px; }
  .l-contact__facebook {
    display: inline-block;
    cursor: pointer; }
  @media (min-width: 576px) {
    .l-contact__col-0 {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.3333333333%;
              flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .l-contact__col-1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.3333333333%;
              flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .l-contact__col-2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.3333333333%;
              flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; } }
  @media (min-width: 992px) {
    .l-contact__col-0 {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
    .l-contact__col-1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.3333333333%;
              flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .l-contact__col-2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%; }
    .l-contact__col-3 {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 16.6666666667%;
              flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; } }

.row {
  height: 100%; }

.contact {
  padding-left: 32px;
  padding-right: 32px; }
  .contact__title {
    margin: 0;
    color: #fff;
    padding-bottom: 30px;
    font-weight: 700; }
  .contact__text {
    display: block;
    font-size: 15px;
    color: #fff; }
    .contact__text.bold {
      font-weight: 700;
      padding-bottom: 16px; }
  .contact__logo_subtext {
    display: block !important;
    color: #fff !important; }
  .contact__picture {
    display: block;
    height: 280px;
    margin-left: -40px; }
    .contact__picture-1 {
      margin-top: 0;
      margin-bottom: -38px; }
  .contact__facebook, .contact__instagram {
    display: none;
    width: 32px;
    height: 32px; }
  .contact__instagram {
    margin-left: 8px; }
  .contact__socialText {
    display: none;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 16px; }
  .contact__flower {
    margin-top: 65px;
    width: 150px; }
  @media (min-width: 576px) {
    .contact {
      height: 330px; }
      .contact__picture-0 {
        position: absolute;
        height: 400px;
        bottom: -34px;
        left: -20px; }
      .contact__picture-1 {
        display: none; }
      .contact__text {
        padding-bottom: 20px; }
      .contact__socialText {
        display: block; }
      .contact__facebook, .contact__instagram, .contact__instagram {
        display: inline-block; } }
  @media (min-width: 768px) {
    .contact__picture-0 {
      height: 420px;
      bottom: -42px;
      left: 0; } }
  @media (min-width: 992px) {
    .contact {
      height: 360px; }
      .contact__title {
        font-size: 35px; }
      .contact__text {
        font-size: 20px;
        line-height: 1.1; }
        .contact__text.bold {
          padding-bottom: 36px; }
      .contact__picture-0 {
        height: 440px;
        left: 0px;
        bottom: -44px; }
      .contact__socialText {
        font-size: 20px; } }
  @media (min-width: 1200px) {
    .contact {
      height: 400px; }
      .contact__flower {
        width: 170px; }
      .contact__picture-0 {
        height: 500px;
        left: -15px;
        bottom: -55px; } }

.l-footer {
  background-color: #181818; }

.footer {
  padding: 20px 25px; }
  .footer__text {
    color: #585858;
    font-size: 13px;
    text-align: right; }
  .footer__link {
    color: #585858;
    text-decoration: underline; }
    .footer__link:hover, .footer__link:focus {
      color: #585858; }

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: background-color .3s ease, -webkit-transform .5s ease;
  transition: background-color .3s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, background-color .3s ease;
  transition: transform .5s ease, background-color .3s ease, -webkit-transform .5s ease; }
  .l-navbar__logo {
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }
  .l-navbar.hideMenu {
    -webkit-transform: translateY(-73px);
            transform: translateY(-73px);
    -webkit-transition: background-color .3s ease, -webkit-transform .5s ease;
    transition: background-color .3s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, background-color .3s ease;
    transition: transform .5s ease, background-color .3s ease, -webkit-transform .5s ease; }
  .l-navbar.scrolled {
    background-color: #000; }
    .l-navbar.scrolled .navbar {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 73px;
      -webkit-transition: height .3s ease;
      transition: height .3s ease; }
      .l-navbar.scrolled .navbar__logo {
        width: 37px;
        max-height: 37px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
      .l-navbar.scrolled .navbar__text {
        font-size: 20px;
        -webkit-transition: font-size .4s ease;
        transition: font-size .4s ease; }
        .l-navbar.scrolled .navbar__text-horti {
          font-size: 22px; }
      .l-navbar.scrolled .navbar__subtext {
        font-size: 11px;
        -webkit-transition: font-size .4s ease;
        transition: font-size .4s ease; }
      .l-navbar.scrolled .navbar .l-menu__container {
        padding-bottom: 5px;
        padding-top: 5px; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 73px; }
  .navbar__logo {
    vertical-align: inherit;
    display: inline-block;
    width: 37px;
    max-height: 37px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease; }
  .navbar__name {
    display: inline-block; }
  .navbar__text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: font-size .4s ease;
    transition: font-size .4s ease; }
    .navbar__text-horti {
      font-size: 22px; }
  .navbar__subtext {
    display: none;
    color: rgba(255, 255, 255, 0.29);
    font-size: 11px;
    line-height: 1;
    margin-top: -3px;
    -webkit-transition: font-size .4s ease;
    transition: font-size .4s ease; }
  @media (min-width: 576px) {
    .navbar {
      height: 83px; }
      .navbar__subtext {
        display: block; } }
  @media (min-width: 768px) {
    .navbar {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: padding .3s ease;
      transition: padding .3s ease;
      height: 117px; }
      .navbar__logo {
        width: 48px;
        max-height: 48px; }
      .navbar__text {
        font-size: 27px; }
        .navbar__text-horti {
          font-size: 30px; }
      .navbar__subtext {
        font-size: 15px; } }

.l-logo__logo {
  display: inline-block; }

.logo__logo {
  width: 36px;
  max-height: 36px;
  min-height: 100%; }

.logo__name {
  display: inline-block; }

.logo__text {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase; }
  .logo__text-horti {
    font-size: 22px; }

.logo__subtext {
  color: rgba(255, 255, 255, 0.29);
  font-size: 11px;
  line-height: 1; }

.l-menu {
  display: inline-block;
  margin-left: auto; }
  .l-menu__container {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.15)), color-stop(83%, rgba(0, 0, 0, 0.98)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.98) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#fa000000', GradientType=1); }
    .l-menu__container.openMenu {
      display: block;
      z-index: 9999; }
  .l-menu__social {
    white-space: nowrap;
    padding: 10px 0 6px 0;
    margin-left: 10px;
    text-align: right; }
  .l-menu__facebook, .l-menu__instagram {
    display: inline-block;
    vertical-align: sub; }
  .l-menu__facebook {
    margin-right: 10px; }
  @media (min-width: 576px) {
    .l-menu__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: inherit;
      background: 0; } }
  @media (min-width: 768px) {
    .l-menu__social {
      margin-left: 20px;
      margin-right: 10px; } }

.menu__icon {
  display: inline-block;
  color: #43f98c;
  width: 20px;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.menu__link, .menu__languages {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 10px;
  text-align: right;
  font-size: 14px;
  color: #fff;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .menu__link:hover, .menu__languages:hover, .menu__link:focus, .menu__languages:focus {
    color: #43f98c;
    outline: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }

.menu__separator {
  display: inline-block;
  margin-top: -1px; }

.menu__language {
  color: #fff;
  -webkit-transition: color .2s;
  transition: color .2s; }
  .menu__language.active {
    color: #43f98c;
    -webkit-transition: color .2s;
    transition: color .2s; }

.menu__facebook, .menu__instagram {
  display: block;
  width: 20px;
  height: 20px; }

@media (min-width: 576px) {
  .menu__icon {
    display: none; }
  .menu__link, .menu__languages {
    background-color: transparent;
    font-size: 16px;
    line-height: 27px;
    border-bottom: 4px solid transparent;
    padding: 10px 0 6px 0;
    margin: 0 6px;
    -webkit-transition: border-bottom .5s ease;
    transition: border-bottom .5s ease; }
    .menu__link:hover, .menu__languages:hover, .menu__link:focus, .menu__languages:focus {
      color: #fff; }
      .menu__link:hover:after, .menu__languages:hover:after, .menu__link:focus:after, .menu__languages:focus:after {
        width: 100%;
        -webkit-transition: width .6s ease;
        transition: width .6s ease; }
    .menu__link:after, .menu__languages:after {
      content: '';
      display: block;
      position: absolute;
      height: 4px;
      width: 0;
      bottom: -4px;
      right: 0;
      background-color: #43f98c;
      -webkit-transition: width .5s ease;
      transition: width .5s ease; }
  .menu__languages:hover, .menu__languages:focus {
    border-bottom: 4px solid transparent; }
    .menu__languages:hover:after, .menu__languages:focus:after {
      display: none !important; }
  .menu__separator {
    margin-left: 6px;
    margin-right: 6px; }
  .menu__language {
    line-height: 27px; } }

@media (min-width: 768px) {
  .menu__link, .menu__languages {
    margin: 0 10px;
    font-size: 18px; }
  .menu__languages {
    margin-left: 40px;
    position: relative; }
  .menu__facebook, .menu__instagram {
    display: block;
    width: 24px;
    height: 24px; } }

.l-project {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }
  .l-project__image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
    max-height: 300px;
    overflow: hidden; }
  .l-project__desc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px; }

.project {
  -webkit-box-shadow: 0 0 18px 0 black;
          box-shadow: 0 0 18px 0 black; }
  .project__wrapper {
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
    background-color: #010101;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .project__wrapper:hover .project__detail, .project__wrapper:focus .project__detail {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 0.35s;
      transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      transition: transform 0.35s, -webkit-transform 0.35s; }
  .project__image {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .project__title {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2; }
  .project__detail {
    background-color: #fff;
    color: #010101;
    padding: 6px 8px;
    line-height: 1.2;
    margin-left: 16px;
    display: inline-block;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s; }

/* Common style */
.grid figure {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0; }

.grid figure figcaption {
  padding: 1.2em 2em 2em 1.2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#050505), color-stop(62%, rgba(12, 12, 12, 0.05)), to(rgba(17, 17, 17, 0.05)));
  background: linear-gradient(to bottom, #050505 0%, rgba(12, 12, 12, 0.05) 62%, rgba(17, 17, 17, 0.05) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#0d111111', GradientType=0); }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

figure.effect-lexi {
  background: linear-gradient(-45deg, #000 0%, #fff 100%); }

figure.effect-lexi img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, margin 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, margin 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, margin 0.35s;
  transition: opacity 0.35s, transform 0.35s, margin 0.35s, -webkit-transform 0.35s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin: 0px -10px -10px 0;
  height: calc(100% + 10px); }

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s; }

figure.effect-lexi figcaption::before {
  content: '';
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 260px;
  height: 260px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 1);
          transform: scale3d(0.5, 0.5, 1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

figure.effect-lexi:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0); }

figure.effect-lexi h2 {
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(5px, 5px, 0);
          transform: translate3d(5px, 5px, 0); }

figure.effect-lexi p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.8em 1.5em 1.5em 0;
  width: 140px;
  text-align: right;
  opacity: 0;
  -webkit-transform: translate3d(20px, 20px, 0);
          transform: translate3d(20px, 20px, 0);
  margin-bottom: 0; }

figure.effect-lexi:hover figcaption::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }

figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

@media (min-width: 576px) {
  .l-project-modal {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-left: 4px;
    padding-right: 4px; } }

@media (min-width: 768px) {
  .l-project {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 4px;
    padding-right: 4px; }
    .l-project-modal {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.3333333333%;
              flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .l-project__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-left: -4px;
      margin-right: -4px; } }

@media (min-width: 1200px) {
  .l-project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
    .l-project-modal {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%;
      height: 230px; } }

@media (min-width: 768px) {
  .project__wrapper-modal {
    height: 230px; }
    .project__wrapper-modal figure.effect-lexi figcaption:before {
      width: 220px;
      height: 220px; }
  .project__detail-modal {
    font-size: 1rem;
    padding-right: 1.2rem; }
  .project__title {
    font-size: 20px; }
    .project__title-modal {
      font-size: 18px;
      text-align: center; } }

.l-modal__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 180px;
  max-height: 640px; }

.l-modal__otherProjects {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px; }

.l-modal__footer {
  text-align: center;
  padding: 35px 25px; }

@media (min-width: 768px) {
  .l-modal__images {
    padding: 0 25px; }
  .l-modal__footer {
    padding-top: 55px;
    padding-bottom: 115px; } }

@media (min-width: 992px) {
  .l-modal__body {
    padding-left: 55px;
    padding-right: 55px; }
  .l-modal__footer {
    padding-left: 80px;
    padding-right: 80px; } }

.modal-dialog {
  border: 0;
  margin: 0; }

.modal-content {
  border: 0;
  border-radius: 0; }

.modal__profileImage {
  width: 100%;
  vertical-align: middle; }

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 100;
  background: transparent;
  border: none;
  padding: 0; }
  .modal__close:focus {
    outline: 0; }
  .modal__close img {
    width: 22px;
    height: 22px; }

.modal__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.55); }

.modal__description {
  font-size: 15px;
  color: #000;
  padding: 20px 25px 30px;
  margin-bottom: 0; }

.modal__image {
  margin-bottom: 14px;
  width: 100%;
  height: 100%; }

.modal__otherProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-left: 0;
  margin-right: 0; }
  .modal__otherProjects_title {
    font-size: 20px;
    padding-bottom: 24px; }

.modal__projBtn {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  color: #2d2d2d;
  line-height: 1.4;
  text-decoration: none;
  -webkit-transition: -webkit-text-decoration .2s;
  transition: -webkit-text-decoration .2s;
  transition: text-decoration .2s;
  transition: text-decoration .2s, -webkit-text-decoration .2s; }
  .modal__projBtn:hover, .modal__projBtn:focus {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: -webkit-text-decoration .2s;
    transition: -webkit-text-decoration .2s;
    transition: text-decoration .2s;
    transition: text-decoration .2s, -webkit-text-decoration .2s; }
  .modal__projBtn-prev {
    margin-right: auto; }
  .modal__projBtn-next {
    margin-left: auto; }

.modal__projArrow {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-top: -2px; }
  .modal__projArrow-previous {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); }

@media (min-width: 576px) {
  .modal__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modal__projBtn {
    display: inline-block; } }

@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto; }
  .modal__close {
    top: 24px;
    right: 24px; }
  .modal__title {
    font-size: 50px; }
  .modal__description {
    padding-top: 60px;
    font-size: 20px;
    line-height: 1.2; } }
/*# sourceMappingURL=styles.css.map */