.l-contact {
  position: relative;
  z-index: 10;
  padding-top: 50px;
  background-image: url('./../../assets/img/contact_bg.png');
  &__col {
    @include make-col-ready();
    &-0 {
      display: none;
      position: relative;
      z-index: 100;
    }
    &-1 {
      @include make-col(7);
      position: relative;
      z-index: 101;
    }
    &-2 {
      @include make-col(5);
      padding-top: 68px;
    }
    &-3 {
      display: none;
      @include make-col(3);
    }
  }
  &__logo {
    margin-top: 20px;
  }
  &__facebook {
    display: inline-block;
    cursor: pointer;
  }
  @include media-breakpoint-up(sm) {
    &__col {
      &-0 {
        display: block;
        @include make-col(4);
      }
      &-1 {
        @include make-col(4);
      }
      &-2 {
        @include make-col(4);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &__col {
      &-0 {
        display: block;
        @include make-col(3);
      }
      &-1 {
        @include make-col(4);
      }
      &-2 {
        @include make-col(3);
      }
      &-3 {
        display: block;
        @include make-col(2);
      }
    }
  }
}

.row{
  height: 100%;
}
.contact {
  padding-left: 32px;
  padding-right: 32px;
  &__title {
    margin: 0;
    color: #fff;
    padding-bottom: 30px;
    font-weight: 700;
  }
  &__text {
    display: block;
    font-size: 15px;
    color: #fff;
    &.bold {
      font-weight: 700;
      padding-bottom: 16px;
    }
  }
  &__logo {
    &_subtext {
      display: block !important;
      color: #fff !important;
    }
  }
  &__picture {
    display: block;
    height: 280px;
    margin-left: -40px;
    &-1 {
      margin-top: 0;
      margin-bottom: -38px;
    }
  }
  &__facebook {
    display: none;
    width: 32px;
    height: 32px;
  }
  &__instagram {
    @extend .contact__facebook;
    margin-left: 8px;
  }
  &__socialText {
    display: none;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 16px;
  }
  &__flower {
    margin-top: 65px;
    width: 150px;
  }
  @include media-breakpoint-up(sm) {
    height: 330px;
    &__picture {
      &-0 {
        position: absolute;
        height: 400px;
        bottom: -34px;
        left: -20px;
      }
      &-1 {
        display: none;
      }
    }
    &__text {
      padding-bottom: 20px;
    }
    &__socialText {
      display: block;
    }
    &__facebook,
    &__instagram {
      display: inline-block;
    }
  }
  @include media-breakpoint-up(md) {
    &__picture-0 {
      height: 420px;
      bottom: -42px;
      left: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 360px;
    &__title {
      font-size: 35px;
    }
    &__text {
      font-size: 20px;
      line-height: 1.1;
      &.bold {
        padding-bottom: 36px;
      }
    }
    &__picture-0 {
      height: 440px;
      left: 0px;
      bottom: -44px;
    }
    &__socialText{
      font-size: 20px;
    }
  }
  @include media-breakpoint-up(xl) {
    height: 400px;
    &__flower {
      width: 170px;
    }
    &__picture-0 {
      height: 500px;
      left: -15px;
      bottom: -55px;
    }
  }
}