.l-footer{
  background-color: $ahBgFooter;
}

.footer{
  padding: 20px 25px;
  &__text{
    color: #585858;
    font-size: 13px;
    text-align: right;
  }
  &__link{
    color: #585858;
    text-decoration: underline;
    &:hover, &:focus{
      color: #585858;
    }
  }
}