.l-mainPage {
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
  &__wrapper {
    position: relative;
    max-height: 740px;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.98) 1%, rgba(0, 0, 0, 0.94) 19%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.98) 1%, rgba(0, 0, 0, 0.94) 19%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.98) 1%, rgba(0, 0, 0, 0.94) 19%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa000000', endColorstr='#00000000', GradientType=1);
  }
  &__texts {
    @include make-col(12);
  }
  &__slideShow {
    &-xl {
      display: none;
    }
  }
  @include media-breakpoint-up(sm) {
    &__wrapper {
      max-height: 600px;
    }
  }
  @include media-breakpoint-up(md) {
    &__wrapper {
      max-height: 700px;
    }
    &__texts {
      @include make-col(8);
    }
  }
  @include media-breakpoint-up(xl) {
    &__wrapper {
      max-height: 800px;
    }
    &__slideShow {
      &-sm {
        display: none;
      }
      &-xl {
        display: block;
      }
    }
    &__texts {
      @include make-col(6);
    }
  }
}

.mainPage {
  &__content {
    position: relative;
    z-index: 5;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__image {
    width: 100vw;
    max-height: 100%;
  }
  &__title {
    color: #fff;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  &__description {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
  }
  @media only screen and (min-width: 370px){
    &__title{
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 35px;
    }
    &__description{
      font-size: 15px;
      margin-bottom: 24px;
    }
  }
  @include media-breakpoint-up(sm) {
    &__content {
      padding-top: 91px;
    }
    &__title {
      font-size: 30px;
    }
    &__description {
      font-size: 20px;
    }
  }
  @include media-breakpoint-up(md) {
    &__content {
      padding-top: 117px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__title {
      font-size: 35px;
    }
    &__description {
      font-size: 25px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-height: 700px) {
    &__title {
      font-size: 30px;
    }
    &__description {
      font-size: 20px;
    }
  }
}