.l-projects {
  position: relative;
  background: url('../assets/img/projects_bg.png');
  background-position: center;
  padding-bottom: 30px;
  padding-top: 105px; 
  &__header {
    position: relative;
    z-index: 10;
  }
  &__loadMore {
    text-align: center;
    padding-top: 30px;
    position: relative;
    z-index: 1;
  }
  &__flower {
    display: none;
    position: absolute;
    z-index: 0;
    &-left{
      top: 80px;
      left: 0;
      padding-right: 82%;
    }
    &-right{
      top: 80px;
      right: 0;
      text-align: right;
      padding-left: 82%;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
    &__loadMore {
      padding-top: 45px;
    }
  }
  @include media-breakpoint-up(xl){
    &__flower{
      display: block;
    }
  }
}

.projects {
  padding-left: 20px;
  padding-right: 20px;
  &__title {
    display: block;
    margin: 0;
    padding-bottom: 30px;
    line-height: 1;
    font-size: 25px;
    font-weight: 700;
  }
  &__description {
    display: block;
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 1.2;
  }
  &__loadMore {
    display: inline-block;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid $ahBtnBorder;
    text-transform: lowercase;
    color: $ahTextBtn;
    line-height: 1;
    box-shadow: 0px 8px 7.6px 0.4px rgba(0, 0, 0, 0.08);
    background-color: rgba(#fff, .52);
    transition: background-color .1s;
    user-select: none;
    &:hover,
    &:focus {
      background-color: $ahBtnBgHover;
      transition: background-color .2s ease;
      cursor: pointer;
    }
  }
  &__flower{
    width: 100%;
    max-height: 100%;
    min-width: 250px;
  }
  &__btmShadow{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 50px 10px rgba(0,0,0,.27);
    z-index: 1;
  }
  @include media-breakpoint-up(lg) {
    &__title{
      font-size: 35px;
    }
    &__description{
      font-size: 20px;
    }
  }
}