.l-services {
  position: relative;
  z-index: 2;
  background-color: $ahServicesBg;
  padding-top: 105px;
  padding-bottom: 40px;
  overflow: hidden;
  &__section {}
  &__bg {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 960px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -50px;
    background-image: url('../../assets/img/services_bg.png');
    background-position: left;
    background-color: $ahServicesBg;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include media-breakpoint-up(sm) {
    &__section {
      @include make-col(10);
    }
    &__bg {
      background-position: left;
      right: -100px;
    }
  }
  @include media-breakpoint-up(md) {
    &__section {
      @include make-col(8);
    }
    &__bg {
      right: -200px;
      display: block;
    }
  }
  @include media-breakpoint-up(lg) {
    &__bg {
      right: -100px;
      background-position: center;
    }
  }
  @include media-breakpoint-up(xl) {
    &__section {
      @include make-col(9);
    }
    &__bg {
      background-position: left;
      right: -100px;
    }
  }
  @media only screen and (min-width:1700px) {
    &__bg {
      right: 0;
    }
  }
}

.services {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  &__title {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding-bottom: 30px;
    line-height: 1;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
    color: #fff;
    margin: 0;
  }
  &__description {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    padding-bottom: 20px;
    color: #fff;
    &:last-of-type {
      padding-bottom: 25px;
    }
    .underline {
      text-decoration: underline;
    }
  }
  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 35px;
    }
    &__subtitle {
      font-size: 25px;
    }
    &__description {
      font-size: 20px;
    }
  }
}