* {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 960px;
  }
}

.modal-dialog{
  max-width: 960px ;
}

img{
  vertical-align: inherit;
}