.l-logo {
  &__logo {
    display: inline-block;
  }
}

.logo {
  &__logo{
    width: 36px;
    max-height: 36px;
    min-height: 100%;
  }
  &__name {
    display: inline-block;
  }
  &__text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    &-horti {
      font-size: 22px;
    }
  }
  &__subtext {
    color: rgba(255, 255, 255, .29);
    font-size: 11px;
    line-height: 1;
  }
}