.l-menu {
  display: inline-block;
  margin-left: auto;
  &__container {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.98) 83%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.98) 83%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.98) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#fa000000', GradientType=1);
    &.openMenu {
      display: block;
      z-index: 9999;
    }
  }
  &__social {
    white-space: nowrap;
    padding: 10px 0 6px 0;
    margin-left: 10px;
    text-align: right;
  }
  &__facebook,
  &__instagram {
    display: inline-block;
    vertical-align: sub;
  }
  &__facebook{
    margin-right: 10px;
  }
  @include media-breakpoint-up(sm) {
    &__container {
      display: flex;
      position: inherit;
      background: 0;
    }
  }
  @include media-breakpoint-up(md){
    &__social{
      margin-left: 20px;
      margin-right: 10px;
    }
  }
}

.menu {
  &__icon {
    display: inline-block;
    color: $ahGreen;
    width: 20px;
    height: 100%;
    cursor: pointer;
    user-select: none;
  }
  &__link {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    color: #fff;
    text-align: right;
    user-select: none;
    &:hover,
    &:focus {
      color: $ahGreen;
      outline: none;
      transition: color .15s ease;
    }
  }
  &__languages {
    @extend .menu__link;
  }
  &__separator {
    display: inline-block;
    margin-top: -1px;
  }
  &__language {
    color: #fff;
    transition: color .2s;
    &.active {
      color: $ahGreen;
      transition: color .2s;
    }
  }
  &__facebook,
  &__instagram {
    display: block;
    width: 20px;
    height: 20px;
  }
  @include media-breakpoint-up(sm) {
    &__icon {
      display: none;
    }
    &__link {
      background-color: transparent;
      font-size: 16px;
      line-height: 27px;
      border-bottom: 4px solid transparent;
      padding: 10px 0 6px 0;
      margin: 0 6px;
      transition: border-bottom .5s ease;
      &:hover,
      &:focus {
        color: #fff; // border-bottom: 4px solid $ahGreen;
        // transition: border-bottom .6s ease;
        &:after {
          width: 100%;
          transition: width .6s ease;
        }
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 0;
        bottom: -4px;
        right: 0;
        background-color: $ahGreen;
        transition: width .5s ease;
      }
    }
    &__languages {
      &:hover,
      &:focus {
        border-bottom: 4px solid transparent;
        &:after {
          display: none !important;
        }
      }
    }
    &__separator {
      margin-left: 6px;
      margin-right: 6px;
    }
    &__language {
      line-height: 27px;
    }
  }
  @include media-breakpoint-up(md) {
    &__link {
      margin: 0 10px;
      font-size: 18px;
    }
    &__languages {
      margin-left: 40px;
      position: relative;
    }
    &__facebook,
    &__instagram {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}