.l-modal {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 180px;
    max-height: 640px;
  }
  &__otherProjects {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
  &__footer {
    text-align: center;
    padding: 35px 25px;
  }
  @include media-breakpoint-up(md) {
    &__images {
      padding: 0 25px;
    }
    &__footer {
      padding-top: 55px;
      padding-bottom: 115px;
    }
  }
  @include media-breakpoint-up(lg) {
    &__body {
      padding-left: 55px;
      padding-right: 55px;
    }
    &__footer {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.modal {
  &-dialog {
    border: 0;
    margin: 0;
  }
  &-content {
    border: 0;
    border-radius: 0;
  }
  &__profileImage {
    width: 100%;
    vertical-align: middle;
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 100;
    background: transparent;
    border: none;
    padding: 0;
    &:focus {
      outline: 0;
    }
    img {
      width: 22px;
      height: 22px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 12px rgba(0, 0, 0, .55);
  }
  &__description {
    font-size: 15px;
    color: #000;
    padding: 20px 25px 30px;
    margin-bottom: 0;
  }
  &__image {
    margin-bottom: 14px;
    width: 100%;
    height: 100%;
  }
  &__otherProjects {
    @include make-row();
    margin-left: 0;
    margin-right: 0;
    &_title {
      font-size: 20px;
      padding-bottom: 24px;
    }
  }
  &__projBtn {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    color: $ahTextBtn;
    line-height: 1.4;
    text-decoration: none;
    transition: text-decoration .2s;
    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
      transition: text-decoration .2s;
    }
    &-prev {
      margin-right: auto;
    }
    &-next {
      margin-left: auto;
    }
  }
  &__projArrow {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-top: -2px;
    &-previous {
      transform: rotateZ(180deg);
    }
  }
  @include media-breakpoint-up(sm) {
    &__footer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__projBtn {
      display: inline-block;
    }
  }
  @include media-breakpoint-up(md) {
    &-dialog {
      margin: 30px auto;
    }
    &__close {
      top: 24px;
      right: 24px;
    }
    &__title {
      font-size: 50px;
    }
    &__description {
      padding-top: 60px;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}