.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1001;
  transform: translateY(0);
  transition: transform .5s ease, background-color .3s ease;
  &__logo {
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }
  &.hideMenu {
    transform: translateY(-73px);
    transition: transform .5s ease, background-color .3s ease;
  }
  &.scrolled {
    background-color: #000;
    .navbar {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 73px;
      transition: height .3s ease;
      &__logo {
        width: 37px;
        max-height: 37px;
        transition: all .4s ease;
      }
      &__text {
        font-size: 20px;
        transition: font-size .4s ease;
        &-horti {
          font-size: 22px;
        }
      }
      &__subtext {
        font-size: 11px;
        transition: font-size .4s ease;
      }
      .l-menu__container {
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 73px;
  &__logo {
    vertical-align: inherit;
    display: inline-block;
    width: 37px;
    max-height: 37px;
    transition: all .35s ease;
  }
  &__name {
    display: inline-block;
  }
  &__text {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    transition: font-size .4s ease;
    &-horti {
      font-size: 22px;
    }
  }
  &__subtext {
    display: none;
    color: rgba(255, 255, 255, .29);
    font-size: 11px;
    line-height: 1;
    margin-top: -3px;
    transition: font-size .4s ease;
  }
  @include media-breakpoint-up(sm) {
    height: 83px;
    &__subtext {
      display: block;
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: padding .3s ease;
    height: 117px;
    &__logo {
      width: 48px;
      max-height: 48px;
    }
    &__text {
      font-size: 27px;
      &-horti {
        font-size: 30px;
      }
    }
    &__subtext {
      font-size: 15px;
    }
  }
}