.l-project {
  @include make-col(12);
  &__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
  }
  &__content {}
  &__desc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px;
  }
}

.project {
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 27);
  &__wrapper {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .15);
    background-color: $ahProjectTitle;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover,
    &:focus {
      .project__detail {
        transform: translate3d(0, 0, 0);
        transition: transform 0.35s;
      }
    }
  }
  &__image {
    flex-grow: 1;
    height: 100%;
    backface-visibility: hidden;
  }
  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__detail {
    background-color: #fff;
    color: $ahProjectTitle;
    padding: 6px 8px;
    line-height: 1.2;
    margin-left: 16px;
    display: inline-block;
    transform: translateX(-300px);
    transition: transform 0.35s;
  }
}


/* Common style */

.grid figure {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}

.grid figure figcaption {
  padding: 1.2em 2em 2em 1.2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;
  background: -moz-linear-gradient(top, rgba(5, 5, 5, 1) 0%, rgba(12, 12, 12, 0.05) 62%, rgba(17, 17, 17, 0.05) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(5, 5, 5, 1) 0%, rgba(12, 12, 12, 0.05) 62%, rgba(17, 17, 17, 0.05) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(5, 5, 5, 1) 0%, rgba(12, 12, 12, 0.05) 62%, rgba(17, 17, 17, 0.05) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#0d111111', GradientType=0);
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.effect-lexi {
  background: linear-gradient(-45deg, #000 0%, #fff 100%);
}

figure.effect-lexi img {
  opacity: 0.9;
  transition: opacity 0.35s, transform 0.35s, margin 0.35s; // transform: scale(1.1);
  backface-visibility: hidden;
  margin: 0px -10px -10px 0;
  height: calc(100% + 10px);
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
  content: '';
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 260px;
  height: 260px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
  opacity: 0;
  transform: scale3d(0.5, 0.5, 1);
  transform-origin: 50% 50%;
}

figure.effect-lexi:hover img {
  opacity: 0.6; // transform: translate3d(0, 0, 0);
  transform: translate3d(-10px,-10px,0);
}

figure.effect-lexi h2 {
  text-align: left;
  transition: transform 0.35s;
  transform: translate3d(5px, 5px, 0);
}

figure.effect-lexi p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.8em 1.5em 1.5em 0;
  width: 140px;
  text-align: right;
  opacity: 0;
  transform: translate3d(20px, 20px, 0);
  margin-bottom: 0;
}

figure.effect-lexi:hover figcaption::before {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.l-project {
  @include media-breakpoint-up(sm) {
    &-modal {
      @include make-col(6);
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  @include media-breakpoint-up(md) {
    @include make-col-ready();
    @include make-col(4);
    padding-left: 4px;
    padding-right: 4px;
    &-modal {
      @include make-col(4);
    }
    &__content {
      @include make-row();
      margin-left: -4px;
      margin-right: -4px;
    }
  }
  @include media-breakpoint-up(xl) {
    @include make-col(4);
    &-modal {
      @include make-col(3);
      height: 230px;
    }
  }
}

.project {
  @include media-breakpoint-up(md) {
    &__wrapper {
      &-modal {
        height: 230px;
        figure.effect-lexi figcaption:before {
          width: 220px;
          height: 220px;
        }
      }
    }
    &__detail {
      &-modal {
        font-size: 1rem;
        padding-right: 1.2rem;
      }
    }
    &__title {
      font-size: 20px;
      &-modal {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}